In [ ]:
# Control Flow (if, elif, else)
# Loops (for, while)

In [2]:
print('Hello world')
print('how are you')
print('rohan')

Hello world
how are you
rohan

In [ ]:
# Control Flow (if, elif, else)
age = 70
if age <= 18:
    print("You are a boy")
elif age <= 60:
    print('You are a Man')
else:
    print('You are a Old man')

You are a Old man

In [ ]:
# Lists, Tuples
# String Methods

In [5]:
#List
li = [10, 20, 3.4 , 65.32, True, False, 'shyam', 'rohan']   #square Brackets
print(li)

[10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']

In [ ]:
li[0:4]   #Slicing  (breaking)

[10, 20, 3.4, 65.32]

In [ ]:
# Reverse Indexing

li[-9]  #IndexError: list index out of range

IndexError: list index out of range

In [22]:
li[-5:]

[65.32, True, False, 'shyam', 'rohan']

In [23]:
li[:4]

[10, 20, 3.4, 65.32]

In [25]:
li

[10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']

In [29]:
li[6:]

['shyam', 'rohan']

In [39]:
li[-4:-2]

[True, False]

In [42]:
li[4:6]

[True, False]

In [43]:
#Tuple
tp = (10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan')  # Circle Brackets
print(tp)

(10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan')

In [45]:
tp[0:4]

(10, 20, 3.4, 65.32)

In [47]:
li[0:4]

[10, 20, 3.4, 65.32]

In [51]:
li[0:4] + li[5:]

[10, 20, 3.4, 65.32, False, 'shyam', 'rohan']

In [52]:
tp[0:4] + tp[5:]

(10, 20, 3.4, 65.32, False, 'shyam', 'rohan')

In [57]:
#strings
name = 'RohanBalingula'

In [60]:
name[2:5]

'han'

In [61]:
li

[10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']

In [79]:
# Loops
# For Loop
# The for loop is used to iterate over a sequence (such as a list, tuple, string)

li = [10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']

for number in li:    #indentation
    if type(number) == str:
        print(number)
    #     pass                
    # else:
    #     print(number)

shyam
rohan

In [72]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [82]:
# While Loop

i = 10
while(i>0):
    print(i)
    if i == 5:
        break
    i = i - 1

10
9
8
7
6
5

In [85]:
for i in range(-10, 10):
    print(i)
    if i == 5:
        break

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
# programming example questions from above learned things
# 1. How to create a list of numbers from 1 to 15  (using range)
# 2. Write a code to print Even numbers from 1 to 20 (using range)
# 3. Write a code to print 9th table  (use normal for loop)
# 4. write a code to grade the student based on marks (<35 fail, >35 pass, >60 good  >80 Excellent)
# 5. [10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']  multiply the only numbers from this list with 10.

"

## 1. How to create a list of numbers from 1 to 15  (using range)

In [117]:
for i in range(1,16):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

## 2. Write a code to print Even numbers from 1 to 20 (using range)

In [114]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## 3 Write a code to print 9th table  (use normal for loop)

In [100]:
for i in range(1,11):
    print(f'9 * {i} = {9 * i}')

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

### 4. write a code to grade the student based on marks (<35 fail, >35 pass, >60 good  >80 Excellent)

In [110]:
i = 50
if i < 35:
    print ('fail')
elif i > 35:
    print ('pass')
elif i > 60:
    print ('good')
else:
    print ('excellent')

pass

#### 5. [10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']  multiply the only numbers from this list with 10.

In [118]:
li = [10, 20, 3.4, 65.32, True, False, 'shyam', 'rohan']

for item in li:
    if type(item) == int or type(item) == float:
        print((item)* 10, end=' ')

100 200 34.0 653.1999999999999