Method	Description<br><br>
append()	Adds an element at the end of the list<br>
clear()	Removes all the elements from the list<br>
copy()	Returns a copy of the list<br>
count()	Returns the number of elements with the specified value<br>
extend()	Add the elements of a list (or any iterable), to the end of the current list<br>
index()	Returns the index of the first element with the specified value<br>
insert()	Adds an element at the specified position<br>
pop()	Removes the element at the specified position<br>
remove()	Removes the item with the specified value<br>
reverse()	Reverses the order of the list<br>
sort()	Sorts the list<br>

In [8]:
# li = []
li = [1,2,3,4,5,6,7,8,9,1,22,3,4,5,6,7,7]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 22, 3, 4, 5, 6, 7, 7]

In [9]:
# li = list()
# li = list([1,2,3,4])
# print(li)

In [ ]:
len(li)

17

In [18]:
# print(li[len(li)-1])
li[16]

7

In [ ]:
# finding the middle element of the list

li[len(li)//2]  # used floor division operators

9

In [22]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 22, 3, 4, 5, 6, 7, 7]

In [23]:
# append      inserting elements
li = [1,2,3,4,5]
li.append(6)
print(li)

[1, 2, 3, 4, 5, 6]

In [24]:
#Pop   removing elements
#Remove removing elements

print(li.pop())   # if no value given it removes last element
print(li)

6
[1, 2, 3, 4, 5]

In [25]:
print(li.pop(2))

3

In [26]:
print(li)

[1, 2, 4, 5]

In [ ]:
li.remove(4)
print(li)

None
[1, 2, 5]

In [ ]:
li = [1,2,3,4,5,2,3,2]
li.remove(2)
print(li)

[1, 3, 4, 5, 2, 3, 2]

In [33]:
# li.remove(2)
print(li)

[1, 3, 4, 5, 3]

In [36]:
li = [10, 20, 30, 40, 50]
li.remove(30)
for num in li:
    if num == 20:
        print(True)

True

In [39]:
li = [10, 20, 30, 40, 50]
print(60 not in li)

True

In [41]:
li = [1,2,3,3,2,4,5,2]
print(li.count(2))

3

In [42]:
li.insert(2, 10)

In [43]:
print(li)

[1, 2, 10, 3, 3, 2, 4, 5, 2]

In [45]:
li = [10, 20, 30, 40, 50]
for i in range(4,-1 ,-1):
    print(li[i], end = ' ')

50 40 30 20 10

In [53]:
print(li[4:0:-1])

[50, 40, 30, 20]

In [58]:
li = [10, 20, 30, 40, 50]

In [59]:
li.reverse()
print(li)

[50, 40, 30, 20, 10]

In [61]:
li = [3,2,4,5,6,1,2]
li.sort()
print(li)

[1, 2, 2, 3, 4, 5, 6]

In [62]:
li = [3,2,4,5,6,1,2]
print(sorted(li))
print(li)

[1, 2, 2, 3, 4, 5, 6]
[3, 2, 4, 5, 6, 1, 2]

In [63]:
li = [10, 20, 30, 40, 50]
print(li.index(30))

2

In [64]:
# extend copy clear

li

[10, 20, 30, 40, 50]

In [66]:
li.clear()
print(li)

[]

In [76]:
li = [1,2, 3, 4, 5]
li2 = li.copy()
print(li2)

[1, 2, 3, 4, 5]

In [77]:
li[1] = 20
print(li)
print(li2)

[1, 20, 3, 4, 5]
[1, 2, 3, 4, 5]

In [93]:
li = [1, 20, 3, 4, 5]

In [ ]:
# li.append([10, 20, 30])
# print(li)

[1, 20, 3, 4, 5, [10, 20, 30]]

In [94]:
li.extend([10, 20, 30])
print(li)

[1, 20, 3, 4, 5, 10, 20, 30]

In [98]:
# Nested List
li = [1, 2, 3, [4, 5, 6], 7]
print(li)

[1, 2, 3, [4, 5, 6], 7]

In [103]:
li[3][2]

6

In [ ]:
# Homework
# 1. create a list of table 8 using for loop and append function
# [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

# 2. find the number which middle of the list
# 3. find the middle element of the list after sorting the list
# 4. write a code to create a list of table 5 and print the sum of list
# 5. write a code to reverse this list [8, 16, 24, 32, 40, 48, 56, 64, 72, 80] using all three types.

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

<!-- 1. create a list of table 8 using for loop and append function -->

## 1. create a list of table 8 using for loop and append function

In [153]:
li = []
li.append(1)
print(li)

[1]

In [156]:
li= []
for i in range (1,11):
    # print(f'8 * {i} = {8 * i}')
    li.append(8 * i)

print(li)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

## 2. find the number which middle of the list

In [134]:
li = (8, 16, 24, 32, 40, 48, 56, 64, 72, 80)
li[len(li)//2]

48

### 3. find the middle element of the list after sorting the list

In [132]:
li = [8, 46, 54, 32, 40, 98, 26, 0, 72, 80]
li.sort()
print(li)
li[len(li)//2]

[0, 8, 26, 32, 40, 46, 54, 72, 80, 98]

46

### 4. write a code to create a list of table 5 and print the sum of list

In [158]:
li = []
for i in range (1,11):
    li.append(5*i)

print(li)
print(sum(li))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
275

In [145]:
# Create table of 5 (5 x 1 to 5 x 10)
table_5 = []

for i in range(1, 11):
    table_5.append(5 * i)

# Print the table
print("Table of 5:", table_5)

# Calculate and print the sum
total = sum(table_5)
print("Sum of table:", total)

Table of 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Sum of table: 275

### 5. write a code to reverse this list [8, 16, 24, 32, 40, 48, 56, 64, 72, 80] using all three types.

In [149]:
li = [8,16,24,32,40,48,56,64,72,80]
li.reverse()
print(li)

[80, 72, 64, 56, 48, 40, 32, 24, 16, 8]

In [150]:
li = [8,16,24,32,40,48,56,64,72,80]
for i in range(9,-1 ,-1):
    print(li[i], end = ' ')

80 72 64 56 48 40 32 24 16 8

In [159]:
li = [8,16,24,32,40,48,56,64,72,80]
print(li[::-1])

[80, 72, 64, 56, 48, 40, 32, 24, 16, 8]