In [1]:
tup = ()  # empty tuple

In [2]:
tup

()

In [3]:
tup = tuple([1,2,3,4,5])
print(tup)

(1, 2, 3, 4, 5)

In [ ]:
int("12")   # type castings

12

In [6]:
# Comprehension list
li = []
for i in range(1, 101):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [8]:
li = [5*i for i in range(1, 11)]
print(li)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [10]:
tup = tuple([i for i in range(1, 11)])
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
li = list(tup)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
li.append(11)

In [13]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
tup = tuple(li)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [15]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [16]:
sum(tup)

66

In [17]:
len(tup)

11

In [19]:
print(type(tup))

<class 'tuple'>

In [20]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [21]:
tup.count(3)

1

In [22]:
tup.index(3)

2

In [56]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [29]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [ ]:
# Create a tuple of table 7
# print the sum of above 7 table tup
# create a tuple of table 9 and then multiply all the values in a tuple with 2
# create a tuple with first five even numbers and then add (10, 20, 30, 40, 50) to that tuple
# divide all the elements in this tuple (12, 34, 56, 78, 34,56, 43) with 10 and print the tuple

## 1. Create a tuple of table 7

In [30]:
tup = tuple(7*i for i in range(1,11))
print(tup)

(7, 14, 21, 28, 35, 42, 49, 56, 63, 70)

## 2. print the sum of above 7 table tup

In [31]:
tup = tuple(7*i for i in range(1,11))
print(tup)
print(sum(tup))

(7, 14, 21, 28, 35, 42, 49, 56, 63, 70)
385

### 3. create a tuple of table 9 and then multiply all the values in a tuple with 2

In [39]:
tup = tuple(9*i for i in range(1,11))
print(tup)
multi = tuple(i*2 for i in tup)
print(multi)

(9, 18, 27, 36, 45, 54, 63, 72, 81, 90)
(18, 36, 54, 72, 90, 108, 126, 144, 162, 180)

### 4. create a tuple with first five even numbers and then add (10, 20, 30, 40, 50) to that tuple

In [51]:
tup = tuple(i for i in range(2,11,2))
print(tup)
li = list(tup)
print(li)
li2 = [10,20,30,40,50]
li3 = li + li2
print(li3)
li3 = tuple(li3)
print(li3)

(2, 4, 6, 8, 10)
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 10, 20, 30, 40, 50]
(2, 4, 6, 8, 10, 10, 20, 30, 40, 50)

### 5. divide all the elements in this tuple (12, 34, 56, 78, 34,56, 43) with 10 and print the tuple

In [54]:
tup = (12,34,56,78,34,56,43)
tup2 = tuple(i / 10 for i in tup)
print(tup2)

(1.2, 3.4, 5.6, 7.8, 3.4, 5.6, 4.3)

In [59]:
# Even or odd code
for i in range(1, 11, 2):
    print(i, end = " ")

1 3 5 7 9

In [ ]:
for i in range(1, 6):
    print(2*i - 1, end = " ")

1 3 5 7 9

In [63]:
for i in range(2, 11, 2):
    print(i, end = ' ')

2 4 6 8 10

In [64]:
for i in range(1, 6):
    print(i * 2, end = ' ')

2 4 6 8 10

In [ ]:
# print 4 th table 

# 4,8,12,16,20,24,28,32,36,40

for i in range(1,10):
    print(i *4, end =',')
print((i+1)*4)

4,8,12,16,20,24,28,32,36,40

In [ ]:
for i in range(4,40,4):
    print(i, end = ',')
# print(i + 1, end = '') 
print(i+4)

4,8,12,16,20,24,28,32,36,40

In [ ]:
# tuple is a sequence of elements which is immutable (cannot be changed once created).
# list is a sequence of elements which is mutable (can be changed once created).

In [88]:
# Write a program to print a number is even or odd using if else
num = 40
if (num % 2 == 0):
    print('Even')
else:
    print("Odd")

Even

In [ ]:
# number =  1234
# output = 1+2+3+4 = 10

In [100]:
# String type
nums = input("enter the number")
print(list(nums))
sum = 0
for num in nums:
    sum = sum + int(num)
print(sum)

['1', '2', '3', '4']
10

In [ ]:
# number
num = 1234   #0
sum = 0   # 4 + 3 + 2 + 1
while (num > 0):
    digit = num % 10
    sum = sum + digit
    num = num // 10
print(sum)

10

In [114]:
1 % 10

1

In [115]:
1 // 10   # floor division

0

In [ ]:
# write a program to check whether 3 present in this list or not list = [1,2,5,3,4,5] if present print True else False
# Write a program to check whether the number is divisible by 5 or not, if yes print True else False  (25 = True) (26 = False)
# Write a program to multiply all the digits in the given number eg. number = 1234  Output = 1 * 2 * 3 * 4 = 24
# Write a program to convert a number to a list of digits  eg : 1234  output = [1,2,3,4]

## write a program to check whether 3 present in this list or not list = [1,2,5,3,4,5] if present print True else False

In [116]:
li = [1, 2, 5, 3, 4, 5]
if 3 in li:
    print(True)
else:
    print(False)

True

### Write a program to check whether the number is divisible by 5 or not, if yes print True else False  (25 = True) (26 = False)

In [118]:
num = int(input("Enter a number: "))
if num % 5 == 0:
    print(True)
else:
    print(False)

False

### Write a program to multiply all the digits in the given number eg. number = 1234  Output = 1 * 2 * 3 * 4 = 24

In [121]:
num = int(input("Enter a number: "))
li = 1
for digit in str(li):
    li *= int(digit)
print(li)

1

### Write a program to convert a number to a list of digits  eg : 1234  output = [1,2,3,4]

In [122]:
num = int(input("Enter a number: "))
digits = [int(digit) for digit in str(num)]
print(digits)

[1, 2, 3, 4]